<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h3>All users</h3>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Username</th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    </thead>
    <tr
            th:each="user : ${userslist}">
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getEmail()}">email</td>
        <td th:text="${user.getUsername()}">Name</td>

        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Edit</a>

        </td>

        <td>
            <form th:action="@{/admin/deleteUser/{id}(id=${user.getId()})}" th:method="POST">
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
</table>
<br>
<br>
<form th:action="@{/admin/addUser}" th:method="GET">
    <input type="submit" value="Add User"/>
</form>
<br>
<br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>


</body>
</html>