<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<h2>Edit User</h2>

<form th:action="@{/edit}" th:object="${user}" method="post">
  <input type="hidden" name="id" th:value="${user.getId()}">
  <fieldset>

    <p>
      <label th:for="name">Enter Username</label>
      <input type="text" name="Username" th:id="username" th:value="${user.getUsername()()}">
    </p>
    <p>
      <label th:for="password">Enter password</label>
      <input type="password" name="password" th:id="password" th:value="${user.getPassword()}"><br/>

    </p>
    <p>
      <label th:for="email">Enter email</label>
      <input type="text" name="email" th:id="email" th:value="${user.getEmail()}"><br/>
    </p>

  </fieldset>
  <tr>
    <td>Roles</td>
    <td>
      <label>
        <select multiple="multiple" size="${roles.size()}" name="roleId">
          <option disabled>Select roles</option>
          <option th:each="role:${role}"
                  th:value="${role.getId()}"
                  th:text="${role.getName()}"
                  th:selected="${role.getName().equals('ROLE_USER') ? 'selected' :'false'}"
          ></option>
        </select>
      </label>
    </td>
  </tr>
<br><br><br>
  <button type="submit">save</button>
</form>


<br/>
<form th:action="@{/admin/show_all}">
  <button type="submit">back</button>
</form>

</body>
</html>
