<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>

<form method="POST" th:action="@{/admin/addUser}" th:object="${user}">

    <label for="username">Enter Username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>
    <label for="password">Enter Password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>

        <td>Roles</td>
        <td>
            <label>
                <select multiple="multiple" size="${roles.size()}" name="roleId">
                    <option disabled>Select roles</option>
                    <option th:each="role:${role}"
                            th:value="${role.getId()}"
                            th:text="${role.getName()}"
                            th:selected="${role.getName().equals('ROLE_USER') ? 'selected' :'false'}"
                    ></option>
                </select>
            </label>
        </td>
    <br/>
    <input type="submit" value="Add"/>
</form>

<form th:action="@{/admin/show_all}">
    <button type="submit">Back to all users</button>
</form>
</body>
</html>