<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Users page</title>
</head>
<body>
<h3>Users page!</h3>
<h2>Hello, <td th:text="${user.getUsername()}"></td> </h2>


<h3>Choose action:</h3>



<form th:action="@{/user_info}" th:method="GET">
  <input type="submit" value="User Info"/>
</form>
<br>
<br>
<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout"/>
</form>



</body>
</html>